table, tr, td {
    border: 1px solid black;
    text-align: center;
}

.blue {
    background-color: lightblue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

#orange {
    background-color: coral;
}